@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Lato&display=swap');

:root {
    --primary-color: #31493C;
    --secondary-color: #E2EED8;
    --accent1-color: #18294B;
    --accent2-color: #542805;
    --accent3-color: #0A0A0A;
    --input-color: rgba(255, 255, 255, 0.8);
    
    --heading-font: 'Playfair Display', serif;
    --paragraph-font: 'Lato', serif;

    --nav-background-color: #31493C;
    --nav-link-color: #E2EEd8;
    --nav-hover-link-color: #18294B;
    --nav-hover-background-color: #EEE;

    --hero-background-color: rgba(255, 255, 255, 0.8);
    --hero-background-article-color: rgba(255, 255, 255, 0);
}

* {
    background-color: var(--secondary-color);
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}

h1 h2 h3 h4 h5 h6 {
    font-family: var(--heading-font);
}

header {
    margin: 0.5rem;
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: 1px 1fr 1px;
    background-color: var(--primary-color);
}

header img {
    grid-column: 1;
    grid-row: 2;
    margin: 1rem;

    width: 200px;
    height: auto;
}

header nav {
    grid-column: 2;
    grid-row: 2;

    display: flex;
    justify-content: center;

}

header nav a {
    padding: 1rem;
    align-content: center;

    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
}

main {
    margin: 0.5rem;
    
    display: grid;
    grid-template-rows: 1fr auto auto;
}

fieldset {
    border: none;
}

footer {
    margin: 0.5rem;
    margin-top: 1rem;
}

footer, footer p, footer nav, footer nav img{
    color: var(--secondary-color);
    background-color: var(--primary-color);
    
    display: flex;
    justify-content: space-around;
}


.hero {
    position: relative;
    grid-row: 1;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    float: right;
}

.hero h1 {
    position: absolute;
    top: 70%;
    left: 10%;
    right: 10%;
    font-size: xxx-large;
    text-align: center;
    background: var(--hero-background-color);
    padding: 4px;
}

.hero article {
    position: absolute;
    top: 20%;
    left: 10%;
    right: 10%;
    text-align: center;
    background: var(--hero-background-color);
    padding: 10px;
}

.hero article p {
    background-color: var(--hero-background-article-color);
}

.hero article img {
    width: 300px;
    height: auto;
}


.history {
    grid-row: 2;
    width: 80%;
    object-fit: contain;
    margin: auto;
    padding: 2rem;
    margin-left: 5%;
    margin-right: 5%;

    display: grid;
    grid-template-rows: 3.5rem 10rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.history h2 {
    grid-row: 1;
    grid-column: 2;
    object-fit: contain;
    margin: auto;
}
.history p {
    grid-row: 2;
    object-fit: contain;
    margin: auto;
}

.history img {
    grid-row: 2;
    grid-column: 2;
    object-fit: contain;
    margin: auto;

    width: 150px;
    height: auto;
}


.adventure {
    grid-row: 3;
    width: 80%;
    align-items: center;
    margin: auto;
    padding: 2rem;
    margin-left: 5%;
    margin-right: 5%;
    
    display: grid;
    grid-template-rows: 2rem 170px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.adventure h2 {
    grid-row: 1;
    grid-column: 1 / span 5;
    object-fit: contain;
    margin: auto;
}

.adventure figure {
    grid-row: 2;
    object-fit: contain;
    margin: auto;
}

.adventure figure img {
    width: 175px;
    height: auto;
    padding: 2px;
}



.hoverlink {
    background-color: var(--nav-background-color);
    font-size: x-large;
}

.hoverlink a {
    color: var(--nav-link-color);
    background-color: var(--nav-background-color);
}

.hoverlink a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}


.sociallinks {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

.sociallinks img {
    width: 35px;
    height: 35px;
}


.team {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;

    align-items: center;
}

.team h1 {
    grid-column: 1 / span 3;
    grid-row: 1;
    text-align: center;
}

.team .employee {
    grid-row: 2;

    display: flex;
    align-items: center;
    flex-direction: column-reverse;

    margin-bottom: 2rem;

}

.team .employee img {
    min-width: 200px;
    max-width: 300px;
    width: 20vw;
    height: auto;
    padding: 0.5rem;
}

.box {
    display: grid;
    border: 2px solid var(--primary-color);

    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
}

.contact {
    grid-column: 2;
    grid-row: 1;
    border-left: 2px solid var(--primary-color);

    grid-template-rows: auto 1fr 1fr;

}

.contact h2 {
    text-align: center;
    grid-row: 1;

}

.contact address {
    grid-row: 2;

    width: 80%;
    text-align: left;
    margin-left: 1rem;
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}
.contact address p {
    margin: 1.2rem;
    font-size: 1.1rem;
}

.map {
    grid-row: 3;

    border: 1px solid var(--primary-color);
    margin: 2rem;
}


form {
    grid-column: 1;
    grid-row: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 11% 15% auto 15%;
}

form h2 {
    grid-column: 1 / span 2;
    margin-left: 1.5rem;
}

form .column1 {
    grid-column: 1;
}

form .column2 {
    grid-column: 2;
}

form fieldset {
    margin: 10px;

    display: flex;
    flex-direction: column;
}

form label {
    font-size: large;
    font-weight: bold;
}

form input {
    height: 100%;
}

form fieldset input {
    background-color: var(--input-color);
}

form fieldset .purpose div {
    display: flex;
    gap: 10px;
    flex-direction: row;
}
    form fieldset .purpose label, 
    form fieldset .purpose div input {
        margin-top: 3rem;
    
}


form fieldset div input {
    width: 2rem;
    height: auto;

}

form textarea {
    height: 100%;
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.9rem;

    background-color: var(--input-color);
    border: 2px solid var(--primary-color);
}

form fieldset .newsletter {
    display: flex;
    flex-direction: row;
    gap: 8px;

    align-self: flex-end;
    margin-left: auto;
}

form fieldset .send {

    display: flex;
    justify-content: center;
    align-items: center;

}

form fieldset .send input {
    width: 80%;
    height: 60%;

    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: larger;
    font-weight: bold;

    padding: 15px;
    border-radius: 3px;
    margin-top: -8px;
}