head {
    background-color: #18294b
}

body {
    background-color: #e2eed8;
    color: #5f8450;
}

p {
    color: #5f8450;
}

footer {
    border-top: solid #542805;
    background-color: #0a0a0a
    padding: 20px;
    text-align: center;
}