@import url('https://fonts.googleapis.com/css2?family=playfair+display-Lato&display=swap');

body {
    font-family: var(--lato);
    max-width: 960px;
    padding: 20px;
{


body main {
    background-color: #e2eed8;
    color: #31493c;
}

p {
    color: #31493c;
}

footer {
    border-top: solid #542805;
    background-color: #0a0a0a
    padding: 20px;
    text-align: center;
}