* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    grid-column: 2/3;
    margin: 1rem;
    padding: 10px;
}

main p {
    padding: 3px;
}

main ul {
    list-style-type: none;
}

aside {
    position: relative;
    width: 20rem;
    border: 1px solid #5f8450;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 30px;
    left: 180px;
    text-shadow: 2px 2px 2px #000;
}

nav {
    background-color: #18294b;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: #e2eed8;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: #18294b;
    border-bottom: 2.5px solid #18294b;
    padding: 1rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid #18294b;
    padding: 2px;
    box-shadow: 0 0 30px grey;
    float: right;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
}

/* Class Selectors */
.grid {
    display: grid;
    align-items: center;
}

.box {
    margin: 1rem;
    padding: 1rem;
}

.link {
    background-color: #18294b;
    color: #e2eed8;
}

.link a{
    color: #e2eed8;
    text-decoration: none;
}

.link a:hover {
    color: #5f8450;
}

.center {
    text-align: center;
    padding: 1rem;
}